body {
    margin: 0;
    padding: 0;
    background-image: url('fondo_ligero.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    
    color: white;

    min-height: 100vh;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header{
    padding-left: 20%;
}
.logo h1 a{
    color: red;
    font-weight: bold;
    text-decoration: none;

}

.login-form {
    max-width: 260px;
    width: 100%;
    margin: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 50px;

    border: black solid 2px;
}
.login-form__title {
    font-weight: bold;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.login-form__input-group {
    border: rgb(167, 167, 167) solid 1px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    margin-bottom: 16px;
    width: 100%;
    height: 36px;
}
.login-form__input-group input {
    width: 100%;
    height: 100%;
}
input {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
}

.error-message {
    color: #ff4c4c;
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 8px;
    min-height: 15px;
}
.login-form__button-primary {
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 9px;
    border-radius: 5px;
}
.login-form__divider {
    text-align: center;
    margin: 20px 0;
}

.login-form__button-secondary {
    width: 100%;
    background-color: rgb(66, 66, 66);
    color: white;
    font-weight: bold;
    border: none;
    padding: 9px;
    border-radius: 5px;
}

.login-form__help-link {
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
.login-form__remember label {
    font-size: 14px;
}
.login-form__first-time {
    display: flex;
    justify-content: space-between; /* empuja el <p> a la izquierda y el <a> a la derecha */

}
.login-form__first-time p{
    color: gray;
    font-size: 15px;
}
.login-form__first-time p a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 13px 0;
}

.login-form__recaptcha {
    font-size: 12px;
    color: gray;
    margin-top: 0px;
}

.login-form__more-info {
    font-size: 12px;
    color: rgb(97, 97, 252);
}

.page-footer {
    background-color: #202020;
    color: #9aa0a6; /* Color de texto del footer */
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 70px;
    padding-top: 50px;

}

.footer-content__contact {
    margin-top: 20px;
}

.footer-content__links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
}


.footer-content__links li a{
    color: gray;
    font-size: 14px;
    
}